<div class="navbar border-green-500 border-x w-full ps-4 pe-4 md:w-auto md:rounded-2xl h-[4rem] flex gap-4 justify-center items-center fixed bottom-4 left-1/2 transform -translate-x-1/2 shadow-green backdrop-blur-lg">
    <app-nav-bar-items icon="fa-solid fa-house" color="text-white" route="/home"></app-nav-bar-items>
    <app-nav-bar-items icon="fa-solid fa-user" color="text-white" route="/profile"></app-nav-bar-items>
    <app-nav-bar-items icon="fa-solid fa-cog" color="text-white" route="/settings"></app-nav-bar-items>
    <app-nav-bar-items icon="fa-solid fa-sign-out-alt" color="text-white" route="/logout"></app-nav-bar-items>
</div>
