.register {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 300ms ease-in-out;
}

.register:hover , .login:hover {
  transform: scale(1.1);
}





.login {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 300ms ease-in-out;
}

  

  