.item {
    transition: 300ms ease;
    font-family: "Inter";
    font-weight: 300;
}
.item:hover .icon{
    bottom: 0.4rem;
    color: green;
    animation: none;
}

.icon{
    bottom: 0;
    transition: 300ms ease;
}

.label {
    opacity: 0;
}

ng-icon.active , span.active {
    color: rgb(1, 99, 1);
}

ng-icon.active {
    animation: motionNavLink 3s ease-in-out infinite;
}

@keyframes motionNavLink {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-5px);
    }

    100%{
        transform: translateY(0px);
    }
}