#buttonSwitch {
    width: 3rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 35%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,-50%);
}

#buttonSwitch:hover{
    cursor: pointer;
}