<div [ngClass]="opacityAnimation" class="register w-full h-full  flex items-center flex-col justify-center py-[3rem] px-20 gap-7">
        <h1 class="register-header md:text-5xl text-center tracking font-bold">Sign up for free and <br> start building in minutes</h1>
        <p>user friendly interface</p>
        <div class="w-full h-4/5 flex gap-3 flex-col items-center">
        <app-login-buttons src="/models/google-icon.svg" route="/login" text="Continue with google" class="w-full font-bold"></app-login-buttons>
            <span>OR</span>
         <div class="form border-grey border rounded-lg w-full h-full">

         </div>   
        </div>
</div>