<div class="register w-full h-full  flex items-center flex-col justify-center py-[3rem] px-20 gap-3">
    <h1 class="register-header text-4xl text-center tracking font-bold flex flex-col items-center">Welcome back!<span class="text-xl font-light w-4/5">Log in to manage waste efficiently and contribute to a cleaner future.</span> </h1>
    <p>user friendly interface</p>
    <div class="w-full h-4/5 flex gap-3 flex-col items-center">
    <app-login-buttons src="/models/google-icon.svg" route="/register" text="Continue with google" class="w-full font-bold"></app-login-buttons>
        <span>OR</span>
     <div class="form border-grey border rounded-lg w-full h-full">

     </div>   
    </div>
</div>